body {
    background: #F7F7F7;
    margin: 0;
    font-family: rubik;
  }
  
  .container {
    padding: 40px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
  }
  
  .pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
    grid-gap: 20px;
    padding-inline-start: 0;
  }
  
  .card {
    list-style: none;
    padding: 40px;
    color: #222;
    text-align: center;
    border-radius: 20px;
    position: relative;
  }
  
  .card::after {
    content: "";
    display: block;
    width: 98%;
    height: 70%;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    position: absolute;
    top: 1%;
    left: 1%;
  }
  
  .steel {
    background-color: #B7B9D0;
  }
  
  .fire {
    background-color: #F57D31;
  }
  
  .grass {
    background-color: #74CB48;
  }
  
  .electric {
    background-color: #F9CF30;
  }
  
  .water, .ice {
    background-color: #6493EB;
  }
  
  .ground {
    background-color: #DEC16B;
  }
  
  .rock {
    background-color: #B69E31;
  }
  
  .fairy {
    background-color: #E69EAC;
  }
  
  .poison {
    background-color: #A43E9E;
  }
  
  .bug {
    background-color: #A7B723;
  }
  
  .dragon {
    background-color: #7037FF;
  }
  
  .psychic {
    background-color: #FB5584;
  }
  
  .flying {
    background-color: #A891EC;
  }
  
  .fighting {
    background-color: #C12239;
  }
  
  .ghost {
    background-color: #70559B;
  }
  
  .normal {
    background-color: #AAA67F;
  }
  
  .card:hover {
    animation: bounce 0.5s linear;
  }
  
  .card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
    position: relative;
    z-index: 2;
  }

  .card-button-right {
    position: absolute;
    top: 200px;
    right: 5px;
    font-size: 5px;
    font-weight: bold;
    color: #000;
    padding: 10px 10px;
    border-radius: 10px;
    z-index: 2;
  }

  .card-button-left {
    position: absolute;
    top: 200px;
    right: 270px;
    font-size: 5px;
    font-weight: bold;
    color: #000;
    padding: 10px 10px;
    border-radius: 10px;
    z-index: 2;
  }

  .card-button-top-left {
    position: absolute;
    top: 15px;
    right: 270px;
    font-size: 5px;
    font-weight: bold;
    color: #000;
    padding: 10px 10px;
    border-radius: 10px;
    z-index: 2;
  }
  
  .card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
    position: relative;
    z-index: 2;
  }
  
  .card-image {
    height: 180px;
    position: relative;
    z-index: 2;
  }

  .pokemon-id {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 2;
  }
  .pokemon-type {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 2;
  }

  #searchbar{
    margin-left: 35%;
    margin-top: 20px;
    padding:15px;
    border-radius: 10px;
    text-align: center;
  }

  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }
  
  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    80% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(0);
    }
  }